.content .title {
    font-size: 2.8rem;
}

.link_body {
    display: flex;
    align-items: center;
}

    .link_body a {
        text-decoration: none;
        font-size: 1.4rem;
    }

    .link_body i {
        position: relative;
        top: 1px;
        padding: 0 4px;
        font-size: 1.2rem;
    }


/* ================= management ==================== */
.management {
    background-color: var(--white);
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    margin-bottom: 24px;
}

.management-title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.management-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

#form_search {
    display: flex;
    margin-top: 16px;
}

.search {
    display: flex;
    align-items: center;
}

    .search input {
        flex: 1;
        padding: 6px 12px 6px 32px;
        border-radius: 6px;
        border: 1px solid var(--border-color);
        font-size: 16px;
        outline-color: var(--blue);
        min-width: 240px;
    }

    .search i {
        position: absolute;
        left: 8px;
        color: var(--blue);
        font-size: 18px;
    }

.search-group .Btn {
    margin: 0 8px;
}

.management .filter {
}

    .management .filter select {
        padding: 7px 8px;
        border-radius: 6px;
        font-size: 16px;
        margin-top: 16px;
        min-width: 150px;
        outline-color: var(--blue);
    }

        .management .filter select option {
            padding: 4px
        }

.btn-group {
    display: flex;
    gap: 8px;
    margin: 16px 0 0 8px;
}

.Btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    min-width: 65px;
    border-radius: 6px;
    border: 1px solid var(--blue);
    font-size: 1.6rem;
}

    .Btn:hover {
        background-color: var(--blueish);
        border-color: var(--blueish);
    }


/* ================= table ========================= */

.data {
    background-color: var(--white);
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    /* border-radius: 6px; */
}

    .data-table th,
    td {
        padding: 10px 8px;
        text-align: left;
        border: none;
    }

    .data-table tr {
        border-bottom: 1px solid #ccc;
    }

.table-head {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    pointer-events: none;
}

.data-table tr:nth-child(2n) {
    background-color: #f6f6f6;
}

.data-table img {
    width: 36px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.data-table i {
    color: #454545;
    cursor: pointer;
}

.data-table button {
    text-decoration: none;
    background-color: var(--blue);
    padding: 5px 12px;
    border-radius: 4px;
    color: var(--white);
    border: none;
}

    .data-table button:hover {
        background-color: var(--blueish);
    }

.data-table tr:hover {
    background-color: var(--blue);
    color: #fff;
}

.data-table-control {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}
